<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="../css/style-welcome.css">
</head>

<body>

    <div>
        <h1>Hola <b id="user"></b></h1>
        <p>La ultima vez que entraste fue <b id="lastLoginDate"></b> a las <b id="lastLoginHour"></b> </p>
        <br>
        <input id="bttBack" type="button" value="Atras">
        <input id="bttQuestion" type="button" value="Preguntas">
    </div>
</body>
<script src="../js/script-welcome.js"></script>

</html>